/bin
/vendor
/vendor.pb
/vendor.protogen
.DS_STORE
.DS_Store
/.idea
/.vscode
/vendor.protogen

/k8s/*
/unit.coverage.out.tmp
/unit.coverage.out
/unit.report.xml
/e2e.coverage.out.tmp
/e2e.coverage.out
/e2e.report.xml
/cover.out.tmp
/junit.xml
/cover.out.tmp
.env

*.sh
/dumps/*